:root {
    --box-bg-color: #000; /* Black */
    --box-bg-color-active: #0000FF; /* Blue */
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 8rem;
    height: 8rem;
    background-color: var(--box-bg-color);
    margin: 5px;
    cursor: pointer;
}

.box.active {
    background-color: var(--box-bg-color-active);
}
